<div class="imagehotspot-editor theme{{ model.config.theme }}" ng-controller="ImageHotspotController">
	<div class="imagehotspot-image" ng-click="positionHotspot($event)">
		<img ng-if="image.src" ng-src="{{ image.src }}?width={{ image.width }}" ng-srcset="{{ image.src }}?width={{ image.width * 2 }} 2x" width="{{ image.width }}" height="{{ image.height }}" />
		<div ng-hide="image.src" class="imagehotspot-placeholder-image"></div>
		<div ng-show="model.value.left >= 0" class="imagehotspot-hotspot" style="left:{{ model.value.left }}px;top:{{ model.value.top }}px;"></div>
	</div>
</div>
