.imagehotspot-editor {
	border: 1px solid #bbbabf;
	display: inline-block;
	line-height: 0;
}

.imagehotspot-image {
	position: relative;
	display: inline-block;
	cursor: crosshair;
}

.imagehotspot-hotspot {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	border: 3px solid #fff;
	opacity: 0.8;
	transform: translate(-50%, -50%);
	cursor: move;
}

.imagehotspot-placeholder-image {
	display: block;
	width: 400px;
	height: 300px;
	border: 1px solid #999;
	background: rgba(0, 0, 0, 0.1);
}

.theme1 .imagehotspot-hotspot { background: rgb(223, 59, 58); }
.theme2 .imagehotspot-hotspot { background: rgb(100, 189, 99); }
.theme3 .imagehotspot-hotspot { background: rgb(54, 180, 246); }
.theme4 .imagehotspot-hotspot { background: rgb(239, 144, 0); }
